<div class = "left-char-panel flex-container">
    <img class = "character-img"src = "../../assets/example-picture.png">
    <div class = "top-stats">
        <div>HP 10/10</div>
        <div>Energy 20/20</div>
        <div>Aether 0/0</div>
    </div>
    <span style = "padding-top: 20px;
    font-weight: 850; font-size: 160%; padding-left: 42px;">Trait Scores</span>
    <div class = "trait-scores">
        <div class = "trait-score-item">Body 1000</div>
        <div class = "trait-score-item">Mind 1000</div>
        <div class = "trait-score-item">Soul 1000</div>
        <div class = "trait-score-item">Resonance 1000</div>
        <div class = "trait-score-item">Total Skill Points Acquired 1000</div>
        <div class = "trait-score-item">Proficiency 1000</div>
        <div class = "trait-score-item">Personality 1000</div>
        <div class = "trait-score-item">Disciplines 1000</div>
    </div>
</div>
<div class = "right-char-panel flex container">
    <span style = "font-weight: 500; font-size: 160%;">Adventuring / Battle</span>
    <div class = "skills">
        <div class = "skills-item">Skill 1</div>
        <div class = "skills-item">Skill 2</div>
        <div class = "skills-item">Skill 3</div>
        <div class = "skills-item">Skill 4</div>
        <div class = "skills-item">Skill 5</div>
        <div class = "skills-item">Skill 6</div>
        <div class = "skills-item">Skill 7</div>
        <div class = "skills-item">Skill 8</div>
    </div>
</div>